#testimonials {
  padding: 50px 0;
  background-color: #f2f9ff;
}

.header {
  margin: 2rem 0;
  color: #032d60;
}

.testimonial {
  margin-bottom: 40px;
}

.testimonial p {
  font-size: 18px;
  margin-bottom: 20px;
}

.testimonial cite {
  font-style: italic;
  color: #032d60;
}
